<div class="jumbotron text-center">
	<h1>Nerds and Proud</h1>

	<p>{{ tagline }}</p>
</div>


<div class="col-1-1">
	
	<!-- ************************Tabla de users***********************************-->
	
	<h1>Usuarios</h1>

    <div class="row">
   		<div class="col-lg-4"> 
        	<div class="form-group input-group">
            	<span class="input-group-btn">
                	<button class="btn btn-default" type="button" for="searchText"><span class="glyphicon glyphicon-search"></span></button>
                </span>
                <input type="text" class="form-control" ng-model="searchText" id="searchText">
            </div>
        </div>
    </div> 
	
	<div class="col-1-1">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th width="20">ID</th>
					<th>Username</th>
					<th>Email</th>
					<th>Direccion</th>
				</tr>
			</thead>
				
				<tbody>
					<tr ng-repeat="item in filtered = (users | filter:searchText) | startFrom: (currentPage-1)*entryLimit | limitTo:entryLimit">
					
					<td>{{item.id}}</td>
						<td>{{item.username}}</td>
						<td>{{item.email}}</td>
						<td>{{item.direccion}}</td>
						<td width="20"><a type="button" class="btn btn-primary btn-sm" ng-click="openModal_editarUsuario(lg,item.id)"><span class="glyphicon glyphicon-edit"></span></a></td>
						<td width="20"><a type="button" class="btn btn-success btn-sm" ng-click="visualizarUsuario(item.id)"><span class="glyphicon glyphicon-eye-open"></span></a></td>
						<td width="20"><a type="button" class="btn btn-danger btn-sm" ng-click="eliminarUsuario(item.id)"><span class="glyphicon glyphicon-remove"></span></a></td>

                    </tr>
				</tbody>
		</table>
	</div>  <!--Tabla users-->
	

	<!-- ************************Paginacion***********************************-->
	<div>
	  	 <pagination total-items="users.length" items-per-page="entryLimit" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
	</div>  <!--Paginacion-->
	
	<!-- ************************Alertas***********************************-->
	<div>
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>  <!--Alerts-->
	

	<!-- ************************Form de User***********************************-->

	<h1>Agregar Usuario</h1>
	<div>	
		<form name="userForm" ng-submit="agregarUsuario()">
			<div class="form-group">
				<label class="control-label">Username</label>
				<input type="text" class="form-control" name="username" ng-model="newUser.username" placeholder="Agregar nuevo usuario" required></input>
			</div>

			<div class="form-group">
				<label class="control-label">Email</label>
				<input type="email" class="form-control" name="email" ng-model="newUser.email" placeholder="Agregar email" required></input>
			</div>
			
			<div class="form-group">
				<label class="control-label">Direccion</label>
				<input type="text" class="form-control" name="direccion" ng-model="newUser.direccion" placeholder="Agregar direccion"></input></input>
			</div>

			<div class="form-group">
				<label class="control-label">Contraseña</label>
				<input type="password" class="form-control" name="password" ng-model="newUser.password" placeholder="Agrega contraseña"></input>
			</div>
			
			<button class="btn btn-primary">Agregar</button>
			<button class="btn btn-primary" ng-click="reset()">Limpiar</button>
		</form>
		
	</div> <!-- Form de user -->
	
</div> <!-- .col-1-1 -->



	<!-- ************************Modal para editar***********************************-->
<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Editar Usuario</h3>
        </div>
        
        <div>	<!-- Form de user -->
       		 
			<form name="userForm" ng-submit="editarUsuario()">
				<div class="checkbox-edit-user"> Editar campos<input type="checkbox" ng-model="checked"><br/> </div>

				<div class="form-group">
					<label class="control-label">Username</label>
					<input type="text" class="form-control" name="username" ng-model="edit_user.username" placeholder="Agregar nuevo usuario" ng-readonly="checked"></input>
				</div>

				<div class="form-group">
					<label class="control-label">Email</label>
					<input type="email" class="form-control" name="email" ng-model="edit_user.email" placeholder="Agregar email" ng-readonly="checked"></input>
				</div>
				
				<div class="form-group">
					<label class="control-label">Direccion</label>
					<input type="text" class="form-control" name="direccion" ng-model="edit_user.direccion" placeholder="Agregar direccion" ng-readonly="checked"></input></input>
				</div>

				<button class="btn btn-primary" >Editar</button>
				<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
			</form>
		
		</div> <!-- Form de user -->

      
    </script>

       
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>

